.discover-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: 96vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: white;
}

.discover-label {
    position: absolute;
    top: 10px; /* Adjust the top position to move the label down */
    left: 30px; /* Adjust the left position to move the label right */
    font-size: 30px;
    font-weight: bold;
    color: black; /* Change the color to ensure visibility */
    font-family: 'Sen', sans-serif;
}

.posts-container {
    max-width: 400px;
    height: 800px;
}

::-webkit-scrollbar {
    display: none;
}
.discover-container {
    position: relative; /* Ensure relative positioning */
  }
  
  .notification-icon {
    position: absolute; /* Position the icon absolutely */
    top: 40px; /* Adjust top position as needed */
    right: 20px; /* Adjust right position as needed */
  }