.discover-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 96vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Playfair Display', serif;
    color: black;
}

.top-section {
    background-color: blue;
    border-radius: 20px 20px 0 0; /* Rounded corners only at the top */
    padding: 20px;
    text-align: center; /* Center align the content */
}

.discover-label {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white; /* Set text color to white for better visibility */
}

.text-input-container {
    position: relative; /* Position the search icon relative to the input */
    margin-top: 20px; /* Add some margin to separate the input and icon */
}

.text-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.notification-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: black;
    font-size: 24px;
}