.search-container {
  position: fixed;
  font-family: 'Playfair Display', serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 96vh;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.search-header {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #1D4061;
  font-family: 'Sen', sans-serif;
}

.yml-header {
  font-family: 'Sen', sans-serif;
  color: #1D4061;
  position: absolute;
  top: 350px;
  left: 20px;
}

.notification-bell {
  position: absolute;
  top: 37px;
  right: 30px;
  color: black;
  font-size: 24px;
}

.search-body {
  position: absolute;
  display: flex;
  top: 130px;
  height: 800px;
  width: 400px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.search-bar {
  position: absolute;
  width: 400px;
  top: 80px;
}

.text-input {
  width: 95%;
}
