.discover-container {
  position: fixed;
  top: 100%; /* Adjust the top position to move the container closer to the top */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
  color: white;
}

.discover-label {
    position: absolute;
    top: 10px; /* Adjust the top position to move the label down */
    left: 30px; /* Adjust the left position to move the label right */
    font-size: 30px;
    font-weight: bold;
    color: black; /* Change the color to ensure visibility */
}

.text-input {
  /* New styles for the text input */
  margin-top: 0px; /* Adjust the top margin to move the input field down */
  width: 350px; /* Adjust the width as needed */
  height: px; /* Adjust the height as needed */
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.more-icon {
  position: absolute;
  top: 35px; /* Adjust the top distance as needed */
  right: 20px; /* Adjust the right distance as needed */
  cursor: pointer;
  font-size : 24px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-picture-container {
  width: 100px; /* Adjust the width of the profile picture container */
  height: 100px; /* Adjust the height of the profile picture container */
  border-radius: 50%; /* Make the container circular */
  overflow: hidden; /* Hide overflow content */
  border :2px solid black; 
}

.profile-picture {
  width: 95%; /* Make the profile picture fill its container */
  height: auto; /* Maintain aspect ratio */
}

.profile-text {
  margin-left: 20px; /* Add space between profile picture and text */
}
.profile-info {
  display: flex;
  align-items: center;
}

.profile-stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D2F6FE; /* Blue background color */
  padding: 10px; /* Add padding for better appearance */
  border-radius: 10px; /* Add border radius for rounded corners */
  width: 380px; /* Set the width of the container */
  height: 70px; /* Set the height of the container */

}
.profile-stat .stat-number,
.profile-stat .stat-category {
  font-family: 'Sen', sans-serif;
}

.profile-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 70px; /* Add spacing between the stat items */
}
.profile-stat .stat-number {
  /* font-weight: bold; */
  font-size: 30px;
  margin-bottom: 2px;
}
.profile-stat .stat-category{
  font-size: 20px;
  margin-top:2px;
}

.profile-stat:last-child {
  margin-right: 0; /* Remove margin from the last stat item to prevent extra spacing */
}

  