/* Styles for the Login page */
.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: 96vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif; /* Set Playfair Display as the font-family */
    color: #1d4061; /* Change the font color */
  }
  
  /* Styles for the text input */
  .text-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  /* Styles for the button container */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
  }
  
  /* Styles for the buttons */
  .button-container button {
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: #ffffff;
    color: #1d4061;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Styles for the anchor links */
  a {
    color: black;
    text-decoration: underline;
  }
  
  /* Styles for the password input */
  .password-input {
    font-size: inherit;
    letter-spacing: inherit;
  }
  .back-arrow {
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer; /* Make it look clickable */
  }